@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #121417;
  --green: #85aa9f;
  --white: #fcfcfc;
  --white-1: #f8f8f8;
  --font-family: "MacPaw Fixel Display", sans-serif;
  --second-family: "SF Pro Display", sans-serif;
  --third-family: "Inter", sans-serif;
}
body {
  background-color: var(--white-1);
  font-family: var(--third-family);
}
