@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
}

@media screen and (min-width: 768px) {
  .gradient {
    background-image: url(../images/background.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}

input {
  background-color: transparent;
}
.active {
  background-color: #85aa9f;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  border: 1px solid #dbdbdb;
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.active-button {
  margin-left: 10px;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  width: 32px;
  height: 32px;
  color: #85aa9f;
  display: flex;
  align-items: center;
  justify-content: center;
}
