@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "MacPaw Fixel Display", sans-serif;
  --second-family: "SF Pro Display", sans-serif;
  --third-family: "Inter", sans-serif;
}
body {
  background-color: var(--white-1);
  font-family: var(--third-family);
}
